@charset "UTF-8";

@import '../../node_modules/swiper/swiper-bundle.css';

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Manrope";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem !important;
}

.form__error {
  color: red;
  font-weight: 500;
  font-size: 17px;
  padding: 10px 0;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  height: 86px;
  padding: 30px 0 30px 77px;
  background: url("../img/icons/main/05.svg") 33px center no-repeat;
}

.input._form-focus {
  border: none;
  outline: none;
  border: 2px solid #fa9387;
}

.input._form-error {
  border: 2px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  padding: 32px 40px;
  background-color: #f85a47;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #ffffff;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.menu__list .menu__item ._active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.menu__list .menu__item ._active::before {
  position: absolute;
  content: "";
  width: 100% !important;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
}

.swiper .swiper-button-next::after {
  font-size: 20px;
  color: white;
  position: relative;
  top: -10px;
}

.swiper .swiper-button-prev::after {
  position: absolute !important;
  font-size: 20px;
  color: white;
  top: -10px;
  left: 0;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375em;
  color: #000000;
}

.title_center {
  text-align: center;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

.header {
  background-color: white;
  z-index: 50;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 103px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  row-gap: 15px;
}

.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 23px;
  font-weight: 800;
  line-height: 1.347826087em;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header__logo:hover {
  color: #bdccff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

.menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "DM Sans";
  z-index: 30;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3076923077em;
  color: black;
  position: relative;
}

.menu__link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: black;
  left: 50%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

/*.icon-menu {
		display: none;
		@media (max-width: $mobile) {
			display: block;
			position: relative;
			width: rem(30);
			height: rem(18);
			z-index: 5;
			@media (any-hover: none) {
				cursor: default;
			}
			span,
			&::before,
			&::after {
				content: "";
				transition: all 0.3s ease 0s;
				right: 0;
				position: absolute;
				width: 100%;
				height: rem(2);
				background-color: #000;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			span {
				top: calc(50% - rem(1));
			}
			.menu-open & {
				span {
					width: 0;
				}
				&::before,
				&::after {
				}
				&::before {
					top: calc(50% - rem(1));
					transform: rotate(-45deg);
				}
				&::after {
					bottom: calc(50% - rem(1));
					transform: rotate(45deg);
				}
			}
		}
	}

	*/

.footer {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 60px;
  padding-bottom: 36px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 890px !important;
  margin: 0 auto;
  row-gap: 20px;
}

.footer__logo {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.347826087em;
}

.footer__copy {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 77px auto 0;
  text-align: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3333333333em;
  color: #31353b;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-footer__item {
  font-weight: 700;
  font-size: 13px;
  color: #31353b;
  position: relative;
  padding-bottom: 0px;
}

.menu-footer__item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: black;
  left: 50%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.menu-footer__item:hover::before {
  width: 100%;
  left: 0;
}

.menu-footer__link {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.page {
  background: #fbfcfc;
}

.main-block {
  position: relative;
  overflow: hidden;
}

.main-block::after {
  position: absolute;
  content: "";
  background-color: #bdccff;
  width: 200%;
  top: 0;
  left: 68%;
  height: 100%;
  z-index: -1;
}

.main-block__container {
  overflow: hidden;
  padding-top: 183px !important;
  position: relative;
}

.body-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-main-block__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 50%;
}

.content-main-block__body {
  margin-right: 90px;
}

.content-main-block__subtitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3181818182em;
  color: #ff9900;
  text-transform: uppercase;
  margin-top: 35px;
}

.content-main-block__title {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 54px;
  line-height: 1.3518518519em;
  color: #000000;
  margin-top: 25px;
}

.content-main-block__text {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #31353b;
  margin-top: 25px;
}

.content-main-block__form {
  margin-top: 48px;
}

.content-main-block__slider {
  display: 0 1 50%;
  width: 50%;
  position: relative;
  z-index: 25;
}

.content-main-block__slider img {
  position: relative;
}

.form-main-block {
  margin-right: -187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-main-block__input {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.form-main-block__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 30;
}

.partners-main-block {
  max-width: 65%;
  margin-top: 10px;
}

.partners-main-block__label {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}

.partners-main-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
}

.partners-main-block__item img {
  max-width: 100%;
}

.how {
  padding-top: 180px;
}

.how__container {
  text-align: center;
  overflow: hidden;
}

.how__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.item-how__item {
  position: relative;
}

.item-how__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 20px;
}

.item-how__icon img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 25px;
  height: 25px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-how__icon_1 {
  background: #9672ff;
  -webkit-box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
          box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.item-how__icon_1::after {
  content: "";
  position: absolute;
  width: 80.7692307692%;
  height: 20px;
  background: url("../img/how/04.svg") 0 0 no-repeat;
  right: 0;
  top: 41px;
  -webkit-transform: translate(88.5%, 0);
      -ms-transform: translate(88.5%, 0);
          transform: translate(88.5%, 0);
}

.item-how__icon_2 {
  background: #4ddffd;
  -webkit-box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
          box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.item-how__icon_2::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 20px;
  background: url("../img/how/04.svg") 0 0 no-repeat;
  right: 0;
  top: 35px;
  -webkit-transform: translate(88.5%, 0) rotate(-180deg);
      -ms-transform: translate(88.5%, 0) rotate(-180deg);
          transform: translate(88.5%, 0) rotate(-180deg);
}

.item-how__icon_3 {
  background: #f2b8ec;
  -webkit-box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
          box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.item-how__title {
  padding-top: 50px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3636363636rem;
  color: #000000;
}

.item-how__text {
  margin: 0 auto;
  padding-top: 15px;
  font-family: "Roboto";
  line-height: 1.625rem;
  font-weight: 400;
  font-size: 16px;
  max-width: 260px;
}

.page__deals {
  margin-top: 200px;
  padding: 10px;
}

.header-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-deals__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 20px;
}

.header-deals__text {
  margin-top: 15px;
  max-width: 470px;
}

.header-deals__link {
  margin-bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.3529411765em;
  background-color: #f85a47;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
  padding: 22px 33px;
  color: white;
  border-radius: 5px;
}

.header-deals__link:hover {
  background-color: #c4483a;
}

.filter-deals {
  margin-top: 25px;
}

.filter-deals__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 54px;
     -moz-column-gap: 54px;
          column-gap: 54px;
  margin-bottom: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-deals__button {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.3684210526em;
}

.filter-deals__button:hover {
  color: #f85a47;
}

.filter-deals__button:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #f85a47;
}

.filter-deals__button._active {
  color: #f85a47;
}

.filter-deals__button._active::before {
  position: absolute;
  content: "";
  width: 100% !important;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #f85a47;
}

.filter-deals__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-deals__item {
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  position: relative !important;
}

.filter-deals__item img {
  max-width: 100%;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.filter-deals__item img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.filter-deals__item img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 10px;
  background: url("../img/deal/05.svg") 0 0 no-repeat;
  z-index: 6;
}

.filter-deals__options {
  position: absolute;
  left: 14px;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  top: 14px;
}

.filter-deals__options img {
  cursor: pointer;
}

.featured {
  margin-top: 260px;
}

.featured__title {
  text-align: center;
}

.featured__body {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1ffff;
  padding-top: 40px;
  padding-bottom: 82px;
  padding-left: 39px;
  -webkit-column-gap: 6.5811965812%;
     -moz-column-gap: 6.5811965812%;
          column-gap: 6.5811965812%;
}

.featured__body__content {
  margin-top: 40px;
}

.images-featured__items {
  text-align: center;
}

.images-featured__item {
  position: relative;
}

.images-featured__item img {
  max-width: 100%;
}

.images-featured__add {
  position: relative;
  -webkit-transform: translate(0, -41%);
      -ms-transform: translate(0, -41%);
          transform: translate(0, -41%);
  -webkit-filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
          filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}

.content-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-featured__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 1.3548387097em;
  color: #000000;
  max-width: 378px;
  text-align: center;
  margin-top: 40px;
}

.content-featured__text {
  text-align: center;
  margin-top: 26px;
  max-width: 344px;
}

.content-featured__button {
  max-width: 100%;
  margin-top: 55px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222em;
  background: #f85a47;
  padding: 15px 38px;
  border-radius: 5px;
  width: 412px;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.options-content-featured {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 37px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options-content-featured__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-right: 15px;
}

.options-content-featured__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3529411765em;
}

.options-content-featured__value {
  margin-top: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3529411765em;
}

.reviews {
  margin-top: 186px;
  margin-bottom: 20px;
}

.reviews__title {
  max-width: 570px;
}

.reviews__items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__item {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 52px 38px 52px 38px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-reviwes {
  background: #ffffff;
}

.item-reviwes__text {
  margin-top: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  max-width: 270px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-reviwes__author {
  margin-top: 53px;
}

.author-item-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.author-item-reviews__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375em;
}

.author-item-reviews__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571em;
  color: #666666;
}

.footer-reviews {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 107px;
     -moz-column-gap: 107px;
          column-gap: 107px;
}

.footer-reviews__info {
  font-size: 16px;
  line-height: 24px;
  max-width: 311px;
}

.footer-reviews__link {
  font-weight: 400;
  text-decoration: underline;
  color: #2cbde7;
}

.partners-footer-reviews {
  margin-top: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe {
  margin: 430px auto 0px;
  max-width: 686px;
  padding-bottom: 160px;
  position: relative;
  max-width: 716px;
}

.subscribe::after {
  content: "";
  position: absolute;
  background: #DEDFE1;
  left: -91.5px;
  bottom: 0;
  width: 869px;
  height: 1px;
}

.subscribe__title {
  text-align: center;
}

.subscribe__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  margin-top: 11px;
}

.form-subscribe {
  background-color: #ffffff;
  padding: 27px 30px 27px 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 34px;
  -webkit-box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
          box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}

.form-subscribe__label {
  font-weight: 700;
  font-size: 20px;
  line-height: 144.2%;
  color: #31353b;
}

.form-subscribe__input.input {
  font-weight: 500;
  font-size: 17px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353b;
  opacity: 0.2;
  border: none;
  background: none;
  padding: 11px 0 0;
  height: auto;
}

.form-subscribe__button {
  background: #f85a47;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  font-weight: 500;
  font-size: 18px;
  color: white;
  letter-spacing: 0.02em;
  font-family: "DM Sans";
  padding: 23px 40px;
  line-height: normal;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.form-subscribe__button:hover {
  background: #bd4436;
}

@media (max-width: 75em) {
  .how {
    padding-top: 80px;
  }

  .page__deals {
    margin-top: 70px;
  }

  .featured {
    margin-top: 100px;
  }

  .featured__body {
    -webkit-column-gap: 33px;
       -moz-column-gap: 33px;
            column-gap: 33px;
  }

  .reviews__title {
    text-align: center;
    max-width: none;
  }

  .subscribe {
    padding-bottom: 100px;
    margin-top: 200px;
  }
}

@media (max-width: 620px) {
  .reviews__items {
    display: block !important;
  }

  .reviews__item {
    width: 100% !important;
    margin: 0 auto 20px !important;
  }

  .item-reviwes__text {
    max-width: none;
  }
}

@media (max-width: 613px) {
  .main-block__container {
    padding-top: 100px !important;
  }
}

@media (max-width: 61.99875em) {
  .footer__copy {
    margin-top: 50px;
  }

  .main-block__container {
    padding-top: 100px !important;
  }

  .body-main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-main-block__content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .content-main-block__body {
    margin-right: 0;
  }

  .content-main-block__slider {
    margin-top: 20px;
    width: 100%;
  }

  .form-main-block {
    margin-right: 0;
  }

  .partners-main-block {
    max-width: none;
    text-align: center;
  }

  .partners-main-block__label {
    margin-top: 20px;
  }

  .how__items {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    margin-top: 40px;
  }

  .item-how__item {
    margin-bottom: 30px;
  }

  .item-how__item:last-child {
    margin: 0;
  }

  .item-how__icon_1::after {
    -webkit-transform: translate(74.5%);
        -ms-transform: translate(74.5%);
            transform: translate(74.5%);
  }

  .item-how__icon_2::after {
    display: none;
  }

  .featured {
    margin-top: 40px;
  }

  .featured__body {
    padding-left: 0;
    margin-top: 40px;
    display: block;
    text-align: center;
  }

  .content-featured__title {
    max-width: none;
    margin-top: -60px;
  }

  .content-featured__text {
    max-width: none;
  }

  .reviews {
    margin-top: 100px;
  }

  .reviews__item {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }

  .footer-reviews {
    margin-top: 60px;
  }

  .subscribe::after {
    width: 100%;
    left: 0;
  }

  .subscribe {
    margin-top: 100px;
    padding-bottom: 50px;
  }
}

@media (max-width: 61.99875em) and (max-width: 61.99875em) {
  .reviews {
    margin-top: 70px;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .reviews {
    margin-top: 30px;
  }

  .reviews {
    margin-top: 10px;
  }
}

@media (max-width: 47.99875em) {
  .button {
    display: block;
    width: 100%;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 0;
  }

  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__link {
    font-size: 18px;
  }

  .footer {
    padding-top: 30px;
  }

  .footer {
    padding-top: 10px;
  }

  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__copy {
    margin-top: 30px;
  }

  .main-block__container {
    padding-top: 90px !important;
  }

  .content-main-block__subtitle {
    font-size: 16px;
  }

  .content-main-block__title {
    font-size: 30px;
    margin-top: 15px;
  }

  .content-main-block__form {
    margin-top: 20px;
  }

  .form-main-block {
    display: block;
  }

  .partners-main-block__item {
    -webkit-box-flex: 33.3333%;
        -ms-flex: 33.3333%;
            flex: 33.3333%;
  }

  .how {
    padding-top: 40px;
  }

  .how__title {
    font-size: 30px;
  }

  .how__items {
    margin-top: 30px;
  }

  .how__items {
    display: block;
    margin-top: 20px;
  }

  .item-how__item {
    margin-bottom: 20px;
  }

  .item-how__item:last-child {
    margin: 0;
  }

  .item-how__icon_1::after {
    display: none;
  }

  .item-how__title {
    padding-top: 20px;
  }

  .item-how__text {
    max-width: none;
  }

  .page__deals {
    margin-top: 30px;
  }

  .header-deals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-deals__text {
    text-align: center;
  }

  .featured {
    margin-top: 20px;
  }

  .featured__title {
    font-size: 30px;
  }

  .featured__body {
    padding-bottom: 40px;
    margin-top: 20px;
  }

  .content-featured__title {
    margin-top: -90px;
    font-size: 25px;
  }

  .content-featured__button {
    margin-top: 30px;
  }

  .reviews__title {
    font-size: 30px;
  }

  .reviews__items {
    margin-top: 20px;
  }

  .reviews__item {
    padding: 30px 20px;
  }

  .item-reviwes__author {
    margin-top: 20px;
  }

  .footer-reviews {
    margin-top: 30px;
    display: block;
  }

  .footer-reviews__partners {
    margin-bottom: 30px;
  }

  .footer-reviews__info {
    max-width: none;
    text-align: center;
  }

  .subscribe {
    max-width: none;
    margin-top: 50px;
    padding-bottom: 30px;
  }

  .subscribe::after {
    display: none;
  }

  .subscribe__title {
    font-size: 30px;
  }

  .subscribe__subtitle {
    font-size: 20px;
  }

  .form-subscribe {
    display: block;
    margin-top: 10px;
    padding: 20px;
  }

  .form-subscribe__label {
    text-align: center;
    font-size: 18px;
  }

  .form-subscribe__input.input {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-subscribe__button {
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .input {
    height: 50px;
  }

  .button {
    margin-top: 10px;
    font-size: 15px;
    padding: 15px;
  }

  .footer__copy {
    margin-top: 10px;
  }

  .partners-main-block__item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }

  .how {
    padding-top: 25px;
  }

  .page__deals {
    margin-top: 20px;
  }

  .header-deals__title {
    text-align: center;
    font-size: 30px;
  }

  .header-deals__link {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }

  .featured {
    margin-top: 10px;
  }

  .featured__body {
    margin-top: 10px;
    padding-top: 20px;
  }

  .images-featured {
    display: none;
  }

  .content-featured__title {
    margin-top: 0;
  }

  .reviews__items {
    margin-top: 10px;
  }

  .subscribe {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .form-subscribe {
    padding: 10px;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #a63f31;
  }
}